*{
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  text-decoration: none;
  list-style: none;
}
body, .container{
  width: 100%;
  height: 100vh;
  background-color:  white ;
  display: flex;
  gap: 10px;
  color: rgb(202, 202, 202);
}
.container .left_side{
  width: 15%;
  box-shadow: 0px 2px 6px #0492eb;
}
.container .left_side nav{
  margin-top: 20%;
  width: 100%;
  justify-content: center;
  display: flex;
}.container .left_side nav ul li{
  margin-top: 10px;
  padding: 10px;
  width: 100%;
}
.container .left_side nav ul li a{
  color:  #0492eb;
  font-size: 20px;
  transition: 0.4s;
}
.container .left_side nav ul li a:hover{
  color: #81868a;
  text-decoration: underline;
}
.right_side{
  width: 85%;
  display: block;
  background-color: white;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.right_side header{
  width: 100%;
  padding: 20px 0px 20px 0px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: white;
  color: #0492eb;
  text-transform: capitalize;
  box-shadow:0px 3px 6px  #b8e4ff;
}
.right_side .collecion_cord{
  background-color:  #e1e6eb ;
  width: 100%;
  height: 80vh;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 10px;
}
.right_side .collecion_cord .cord{
  width: 300px;
  height: 200px;
  background-color:  #81868a;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  color: rgb(255, 255, 255);
}
.right_side .form{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #eaeef1;
  padding: 10px 0px 10px 0px;
}
.right_side .form form{
  width: 100%;
  flex-direction: column;
}
.top,.middle, .under, .status, .button{
  display: flex;
  justify-content: center;
  margin-top: 1%;
  gap: 5px;
}
.input{
  width: 300px;
  padding: 5px;
  outline: none;
  background: transparent;
  border-width: 0px 0px 1px 1px;
  border-color: #0492eb;
}
.textarea{
  width: 400px;
  padding: 10px;
  height: 40px;
  outline: none;
  background: transparent;
  border-width: 0px 0px 1px 1px;
  border-color: #0492eb;
}
select{
  width: 300px;
  outline: none;
  height: 40px;
  background: transparent;
  border-width: 0px 0px 1px 1px;
  border-color: #0492eb;
}
button{
  padding: 10px 40px ;
  color: white;
  font-weight: bold;
  background-color: #0492eb;
  border-radius: 10px;
  outline: none;
  border: none;
}
.right_side .table{
  width: 98%;
  background-color: #f3f6f8;
  margin-top: 2%;
  height: 53vh;
  overflow-y: scroll;
}
.right_side .table table{
  width: 100%;
  border-collapse: collapse;
  border-color: #7fb3d5;
  color: grey;
  
}
.right_side .table table tr th{
  border-collapse: collapse;
  padding: 10px;
  border-color: #7fb3d5;
}
.right_side .table table tr:nth-child(odd){
  background-color: white;
  color: #81868a;
  border: none;
}

.right_side .table table tr td{
  border-collapse: collapse;
  padding: 5px;
  border-color: #7fb3d5;
}



.right_side .table2{
  width: 98%;
  background-color: #f3f6f8;
  margin-top: 2%;
  height: 53vh;
  overflow-y: scroll;
}
.right_side .table2 table{
  width: 100%;
  border-collapse: collapse;
  border-color: #7fb3d5;
  color: grey;
  
}
.right_side .table2 table tr th{
  border-collapse: collapse;
  padding: 10px;
  border-color: #7fb3d5;
}
.right_side .table2 table tr:nth-child(odd){
  background-color: white;
  color: #81868a;
  border: none;
}

.right_side .table2 table tr td{
  border-collapse: collapse;
  padding: 5px;
  border-color: #7fb3d5;
}
.d {
  color: brown;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}
 .u {
  color: green;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}
.nothing{
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #7fb3d5;
  gap: 10px;
  flex-wrap: wrap;
}
.nothing .comelet{
  width: 200px;
  padding: 10px;
  box-shadow: 1px 3px 6px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;

}
label{
  color: #519aca;
}
.message{
  width: 100%;
  background-color: #cccccc;
  height: 20vh;
  margin-top: 1%;
  align-items: center;
  display: flex;
  justify-content: center;
}
.user{
  width: 100px;
  height: 100px;
  background-color: #81868a;
  border-radius: 50%;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
}

